.nav {
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 60px;
  padding-left: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .nav-link {
    color: #f2f2f2;
    display: block;
    float: left;
    font-weight: 700;
    margin-right: 1rem;
    padding: 0.25rem;
    text-align: center;

    &:hover {
      text-decoration: none;
      color: #c7c6c6;
    }

    &:focus {
      box-shadow: 0 0 0 2px #f2f2f2;
    }

    &:active {
      color: #8f8a8a;
    }
  }
}
