.app {
  background-color: lightpink;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.form-wrapper {
  margin-bottom: 3rem;
  width: 600px;
}

.form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.form-label {
  font-weight: 700;
}

.table-wrapper {
  text-align: left;
}

.table-head,
.table-foot {
  background-color: white;
  font-weight: 700;
}

.table-body {
  background-color: white;
}

.table {
  border-collapse: collapse;
  border: 2px solid black;
  font-family: sans-serif;
  font-size: .8rem;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  min-width: 600px;
}

td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}

.align-right {
  text-align: right;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
