.padding {
  &-none {
    padding: 0;
  }
}

.margin {
  &-none {
    margin: 0;
  }
}

.width {
  &-s {
    width: 0.75rem;
  }
}

.align {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}

.app {
  background-color: lightpink;

  .header {
    color: darkblue;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.125rem;
    font-weight: 900;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 720px) {
  .app {
    flex-direction: column;
  }
}
