.button {
  border: none;
  height: 36px;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;

  &-primary {
    background-color: purple;
    color: white;

    &:hover {
      background-color: #580058;
    }

    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 4px purple;
    }

    &:active {
      background-color: #510c51;
    }
  }

  &-secondary {
    border: 1px solid purple;
    color: purple;
    background-color: #fff;

    &:hover {
      background-color: #9267922d;
    }

    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 4px purple;
    }

    &:active {
      background-color: #9267923d;
      ;
    }
  }

  &-tertiary {
    background: transparent;
    color: #200020;

    &:focus {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #200020;
    }
  }
}
