.table {
  border-collapse: collapse;
  border: 1px solid #000000;
  font-size: 1rem;
  min-width: 100%;
  text-align: left;

  .table-head,
  .table-foot {
    background-color: #FFFFFF;
    font-weight: 700;
  }

  .table-body {
    background-color: #FFFFFF;
  }

  &-title {
    margin-bottom: 0.25rem;
  }

  td,
  th {
    border: 1px solid black;
    padding: 0.25rem;
  }
}
